html {
  scroll-padding-top: 80px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lulo';
  src: url('./fonts/lulo-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: white;
  }

  .text-input {
    @apply autofill-text; /* set text colour (white) */
    @apply autofill:shadow-[inset_0_0_0px_1000px_#333b50]; /* set 'background' colour (black)*/
  }
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
  background: #ffffff !important;
}

.no-scroll {
  overflow: hidden;
}

.blur-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 20;
  cursor: not-allowed;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
